<%= simple_form_for(@camp, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>
  <%= f.input :title, :label => "Descrizione del campo" %>
  <%= f.input :place , :label => "Luogo" %>
  <%= f.input :start_date, :as => :datepicker , :label => "Inizio" %>
  <%= f.input :end_date, :as => :datepicker , :label => "Termine" %>
  <%= f.input :comment , :label => "Commento", :input_html => { :class => 'input-xlarge', :rows => 8 } %>

  <div class="form-actions">
    <%= f.button :submit, :value => "Crea il campo", :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancella'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
