<%= content_for :breadcrumb do %>
<%= print_breadcrumbs([
  [t('breadcrumb.camps.index', :default => 'Campi'), camps_path],
  [@camp.title]
]).html_safe %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Titolo:</b>
  <%= @camp.title %>
</p>

<p>
  <b>Luogo:</b>
  <%= @camp.place %>
</p>

<p>
  <b>Inizio:</b>
  <%=l @camp.start_date %>
</p>

<p>
  <b>Termine:</b>
  <%=l @camp.end_date %>
</p>

<p>
  <b>Commento:</b>
  <%= @camp.comment %>
</p>

<% if @camp.helps.size > 0 %>
  <h2>Servizi confermati</h2>
  <ul>
  <% @camp.helps.each do |help| %>
    <li><%= help.name %> - <%= help.email %> <em>(dal <%=l help.start_date %> al <%=l help.end_date %>) <%= help.comment %></em></li>
  <% end %>
  </ul>
<% end %>
<%= link_to 'Nuovo servizio', new_camp_help_path(@camp), :class => 'btn btn-primary' %>
<%= link_to 'Modifica', edit_camp_path(@camp), :class => 'btn btn-primary' %>
<%= link_to 'Indietro', camps_path, :class => 'btn btn-danger' %>
