<h1>Listing helps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @helps.each do |help| %>
  <tr>
    <td><%= help.name %></td>
    <td><%= help.email %></td>
    <td><%= help.start_date %></td>
    <td><%= help.end_date %></td>
    <td><%= help.comment %></td>
    <td><%= link_to 'Show', help %></td>
    <td><%= link_to 'Edit', edit_help_path(help) %></td>
    <td><%= link_to 'Destroy', help, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Help', new_help_path %>
